<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oo.dao.QuestionPropertyDao">
    <select id="selectPageVo" resultType="com.oo.domain.vo.QuestionVo">
        select * from t_question,t_question_property where t_question.id=t_question_property.id order by question_id
    </select>
</mapper>
